<div #divCheckbox (mouseover)="updateNote()">
  <!-- Rausfinden wie ich die Werte asu den Checkboxen bekomme -->
  <!-- Im DOM über children aufgreifen, dann kann man rüber Iterieren, unter LocalName kann man dann 
        was es ist. Ob INput oder Label. Dann Wenn man Input hat kann man mit Labels rausfinden welches Label
      dazu gehört. Dieses greift über labels[0].innerText zu.  -->
  <!-- Auch mit ngFor ausbauen und [ngClass]="{'is-valid':correct, 'is-invalid': !correct}" einbauen für farbe -->

  <!-- das muss mit required eingebaut werden -->
  <label class="font-weight-bold">{{question.question}} <span  class="font-weight-lighter"  *ngIf="!question.mandatory">(Optional)</span></label>
  <div class="custom-control custom-checkbox">
    <div *ngFor="let answer of question.answer;let i = index;">
      <input type="checkbox" class="custom-control-input" 
      [ngClass]="{'is-valid':status[0], 'is-invalid': status[1]}" id="{{question.id +' id:'+i}}" (change)="getAnswer()">
      <label class="custom-control-label" for="{{question.id +' id:'+i}}" (change)="getAnswer()">{{answer.answer}}</label>
    </div>
  </div>
</div>