<div class="container-fluid">
  <!-- Der Header, der Webseite-->
  <app-header></app-header>
  <!-- Der Inhalt, der Webseite-->

  <!-- Die Abfrage zum Datenschutz-->
  <app-privacy-decision></app-privacy-decision>
  <app-loading-screen></app-loading-screen>
  <div class="row">
    <div class="col">
      <app-body-upper-part></app-body-upper-part>
    </div>
  </div>

  <div class="row">
    <div class="col-7">
      <app-frage-list></app-frage-list>
    </div>
    <div class="col-5">
      <!-- Zwei Div um die Hinweis-Componente sticky zu machen -->
      <div class="sidebar-item">
        <div class="make-me-sticky">
          <app-hinweis></app-hinweis>
        </div>
      </div>

    </div>
  </div>