<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="FormularChoice" class="font-weight-bold">Was möchten Sie beantragen?</label>
                <select class="form-control" id="FormularChoice" (change)="formularIsSelected($event)" required>
                    <option selected disabled value="">------Wähle--------</option>
                    <option *ngFor="let formular of formulare" [value]="formular">{{formular}}</option>
                </select>
            </div>
            <!-- Hier wird ein Kopf hinzugefügt, um neue Elemente hinzuzufügen. -->
        </div>
    </div>
    <hr>
    <div *ngIf="isFormularChoosed">
        <!-- Nur anzeigen wenn ein Formular gewählt wurde -->
        <div class="row">
            <div class="col">
                <!-- Hier wird Gefragt was genommen werden soll -->
                <app-frage-category #categoryComponent [categories]="this.categories" (selectedCategory)="selectedCategory($event)"></app-frage-category>
            </div>
        </div>
        <hr>
        <div *ngIf="isSubFormularChoosed">
            <!-- Nur sichtbar wenn ein SubFormular gewählt wurde -->
            <div class="row">
                <div class="col">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Hier ist das Kontaktformular
                            <div class="col">
                                <app-frage-kontaktformular></app-frage-kontaktformular>
                            </div>
                        -->
                            <!-- Dies wird der Listeninhalt -->
                            <div class="col" *ngFor="let question of displayingQuestions">
                                <!-- Nur Fragen des Formulares-->
                                <app-frage-list-item [question]="question" (AnswerEvent)="AnswerEvent.emit($event)">
                                </app-frage-list-item>
                            </div>
                            <!-- Nur Provisorisch -->
                            <div class="col">
                            <app-frage-datenschutz></app-frage-datenschutz>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Buttons für die Prüfung, Absenden und Löschung -->
            <div class="row justify-content-md-center" style="padding-top: 7px;">
                <div class="col-3 ">
                    <button class="btn btn-success btn-block" (click)="checkFormular()">
                        Prüfen
                    </button>
                </div>
                <div class="col-3 offset-1">
                    <button class="btn btn-primary btn-block" [ngClass]="{'disabled' : isButtonDisabled}"
                        [ngStyle]="{'cursor': pointerSubmit}" (click)="sendToServer()">
                        Abschicken
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>