<!-- Modal -->
<div #popUp class="modal fade" id="datenschutzPopUp" tabindex="-1" role="dialog" aria-labelledby="datenschutzPopUp"
  aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Datenschutzerklärung</h4>
      </div>
      <div class="modal-body">
        <p>
          Cookies erleichtern die Bereitstellung unserer Dienste. 
          Mit der Nutzung unserer Dienste erklären Sie sich damit einverstanden,
           dass wir Cookies verwenden. Weitere Informationen zum Datenschutz erhalten Sie 
           über den folgenden Link: <a href="/">Datenschutz</a>
          </p>
      </div>
      <div class="modal-footer">
        <!-- data-dismiss entfernt das Model nurn-->
        <button type="button" class="btn btn-danger" data-dismiss="modal">Nicht Einverstanden</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="okDecision()">Einverstanden</button>
      </div>
    </div>
  </div>
</div>