<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body bg-light">
                <div class="row">
                    <div *ngFor="let icon of icons">
                        <div *ngIf="icon.type == formular" al>
                        <a style="cursor: pointer;" (click)="isClicked(icon)" class="col-1">
                            <img [src]="icon?.src" height="50px"> 
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>