
  <div class="row" (mouseover)="updateNote()">
    <div class="col-12">
      <label [for]="question.id" class="font-weight-bold">{{question.question}} <span  class="font-weight-lighter"  *ngIf="!question.mandatory">(Optional)</span></label>
      <select #selector class="form-control" [id]="question.id" [ngClass]="{'is-valid':status[0], 'is-invalid': status[1]}"
        (change)="getAnswer()">
        <!-- muss mit ngFor gemacht werden -->
        <option value="" disabled>------- Choose -------</option>
        <option *ngFor="let answerObj of question.answer" value="{{answerObj.answer}}">{{answerObj.answer}}</option>
      </select>
    </div>
  </div>
