
<head>
                
        <style>
                tr { background: rgb(255, 255, 255); } 
                tr.alt { background: yellow; }
                
                #tabId:hover {background: rgb(255, 145, 71);}
                #tabId {cursor: pointer;}
             
                #tabId { border: solid; }
                #tabId {font-size: 96%;}

                #tabId2:hover {background: rgb(255, 145, 71);}
                #tabId2 {cursor: pointer;}
             
                #tabId2 { border: solid; }
                input[type=text] {
                        width: 80%;     
                }
                input[type=number] {
                        width: 80%;     
                }
                select {
                        width: 80%;     
                }
                #tabellenId:hover {
                        
                        background-color: rgb(255, 169, 111);
                        background:  rgb(255, 169, 111);


                }
                #tabellenId {cursor: pointer;}

                
                .row:hover div[id="tabellenId"]{
                         background-color: rgb(255, 169, 111);
                }


                #buttonAdd {
                                        
                        color: #31302B;
                        background: rgb(236, 255, 235);
                        padding: 10px 46px;
                        margin: 10px;
                        font-family: 'OpenSansBold', sans-serif;
                        border: 3px solid #31302B;
                        font-size: 28px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        border-radius: 1px;
                        display: inline-block;
                        text-align: center;
                        cursor: pointer;
                        box-shadow: inset 0 0 0 0 rgb(52, 255, 34);
                                -webkit-transition: all ease 0.8s;
                                -moz-transition: all ease 0.8s;
                                transition: all ease 0.8s;
                }
      
                #buttonAdd:hover {
                        box-shadow: inset 120px 0 0 0 #2bd600;
                        color: rgb(0, 0, 0);
                      
                }
                .btn-space {
                         margin-right: 10px;
                }       

                .vr {
                        border-right: 1px solid rgb(0, 0, 0) !important;
                }
              
hr {
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 1px solid rgb(0, 0, 0);
    margin: 1em 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0px;
}
          

.vr-all {
	padding:0px;
	border-right:4px solid #CC0000;
}
.vr-xs {
	padding:0px;
}
.vr-md {
	padding:0px;
}
.hrspacing { padding:0px; }
.hrcolor {
	border-color: #CC0000;
	border-style: solid;
	border-bottom: 4px;
	margin:0px;
	padding:0px;
}

/* remove right vertical rule on small */
        @media(min-width:992px){
	        .vr-xs {
		        border-right:4px solid #CC0000;
	        }
	}


        .nopadding {
                padding: 0 !important;
                margin: 0 !important;
        }      
        
        
    

        </style>




        
</head>





<ng-template  #contentCreate let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Frage erstellen</h4>
                  <button type="button" class="close" aria-label="Close" (click)="getAllQuestion(); modal.dismiss()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <form>
                                <div class="form-group">
        
        
                                        <div class="row" style=" font-size:22pt;font-weight: bold;">
                                                <div class="col">
                                                        <h2 style="font-size: 28px;max-width: 380px; word-wrap: break-word; color:rgb(0, 0, 0);">Frage:  </h2>
                                                        <input style=" float: left;max-width: 320px;" type="text" [(ngModel)]="question.question" name="frageID" class="form-control" id="frageid" aria-describedby="emailHelp" placeholder="question.question">
                                                        <br> 
                                                        <br>
                                                 </div>
                                                <div class="col">
                                                        <h2 style="font-size: 28px;max-width: 380px; word-wrap: break-word;color:rgb(0, 0, 0);" for="exampleInputEmail2">Anmeldungs/Formular-Art:</h2>
                                                        
                                                        <select  style=" float: left;max-width: 320px;" class="form-control" [(ngModel)]="question.formType" name="typKat" placeholder="question.formType">  
                                                                <option *ngFor="let a of formularTypMoeglichkeiten" [ngValue]="a" >{{a}}</option>
                                                        </select>
                                                        <br> 
                                                        <br> 
                                                </div>
        
        
                                                <div class="w-100"></div>
        
        
                                                <div class="col">
        
                                                        <h2 for="exampleInputEmail2" style="font-size: 28px;max-width: 380px; word-wrap: break-word; color:rgb(0, 0, 0);">Antwort-Typ: </h2>
                                                        <select style=" float: left;max-width: 320px;" class="form-control" [(ngModel)]="question.questionType.type" (change)=" toggleEdit()" name="typ">  
                                                                <option *ngFor="let a of antwortMoeglichkeiten" [ngValue]="a.name" >{{a.name}}</option>
                                                        </select>
                                                        <br>
                                                </div>
        
                                                <div class="col">
                                                        <h2 style="font-size: 28px;max-width: 380px; word-wrap: break-word" >Hinweis zur Frage:</h2>    
                                                        <textarea rows="4" cols="50"  style=" float: left;max-width: 320px;" type="text" [(ngModel)]="question.hint" name="hinweisID" class="form-control" id="hinweis" aria-describedby="emailHelp" placeholder="Hinweis eingeben"></textarea>
                                                        <br>
                                                </div>
        
        
                                                <div class="w-100"></div>
        
                                               <br>
        
        
                                                <div class="col">
        
                                                                <div style="padding:10px 00px 00px 00px " *ngIf="radioOn || CheckOn || dropdownOn"  >
                                                                                <h2 style="color:rgb(0, 0, 0);"><u>Antwort-Optionen:</u><br/></h2> 
                                                                                <div *ngFor="let daten of fakeChoiceArray; let index = index ">
                                                                        
                                                                                        <label style="color:rgb(0, 0, 0);">{{index +1}}:</label> 
                                                                                        <input style=" float: right;" type="text" [(ngModel)]="choiceArray[index].choice" name="antOpID{{index}}" class="form-control" id="antOp{{index}}" aria-describedby="emailHelp" placeholder="Antwort-Option:{{index}}">
                                                                                        
                                                                                </div>
                                                        
                                                                                <button class="btn btn-success" (click)="addInput()" >+</button>
                                                                                <button class="btn btn-danger" (click)="deleteInput()" >-</button>
                                                                        
                                                                        </div>
                                                                       
        
        
                                                        
                                                </div>
        
        
        
                
                                                <div class="col">
                                        
                                                        <h2 style="color:rgb(0, 0, 0);" ><u>Kategorie: </u></h2>
                                                        <div style="padding:10px 00px 00px 00px">
                                                                        
                                                                <div *ngFor="let date of fakeCategoryArray; let index = index ">
                                                                               
                                                                        {{index + 1}}:     
                                                                        <input style=" float: right;" type="text" [(ngModel)]="categoryArray[index].category" name="catOpID{{index}}" class="form-control" id="catOp{{index}}" aria-describedby="emailHelp" placeholder="Kategorie:{{index}}">
                                                             
                                                                </div>
                                                
                                                                <button class="btn btn-success" (click)="addInputCat()" >+</button>
                                                                <button class="btn btn-danger" (click)="deleteInputCat()" >-</button>
                                                        </div>
                                                        
        
        
                                                </div>        
                                                        
                                        </div>
                                        
                                         <br>
        
        
                                </div>
                        
                        
                        </form>
                </div>
                <div class="modal-footer">
                                <button class="btn btn-danger" (click)="getAllQuestion(); modal.close()" >Abbrechen</button>
                  <button type="button" class="btn btn-success" (click)="createQuestion(); modal.dismiss()">Create</button>
                </div>
        </ng-template>













<!--______________________________________________________________________________________________________________________________-->


<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Frage editieren</h4>
          <button type="button" class="close" aria-label="Close" (click)="getAllQuestion(); modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form>
                        <div class="form-group">


                                <div class="row" style=" font-size:22pt;font-weight: bold;">
                                        <div class="col">
                                                <h2 style="font-size: 28px;max-width: 380px; word-wrap: break-word; color:rgb(0, 0, 0);">Frage:  </h2>
                                                <input style=" float: left;max-width: 320px;" type="text" [(ngModel)]="question.question" name="frageID" class="form-control" id="frageid" aria-describedby="emailHelp" placeholder="question.question">
                                                <br> 
                                                <br>
                                         </div>
                                        <div class="col">
                                                <h2 style="font-size: 28px;max-width: 380px; word-wrap: break-word; color:rgb(0, 0, 0);" for="exampleInputEmail2">Anmeldungs/Formular-Art:</h2>
                                                        
                                                <select style=" float: left;max-width: 320px;" class="form-control" [(ngModel)]="question.formType" name="typKat" placeholder="question.formType">  
                                                        <option *ngFor="let a of formularTypMoeglichkeiten" [ngValue]="a" >{{a}}</option>
                                                </select>
                                                <br> 
                                                <br> 
                                                       
                                        </div>


                                        <div class="w-100"></div>


                                        <div class="col">

                                                <h2 for="exampleInputEmail2" style="font-size: 28px;max-width: 380px; word-wrap: break-word; color:rgb(0, 0, 0);">Antwort-Typ: </h2>
                                                <select  style=" float: left;max-width: 320px;" class="form-control" [(ngModel)]="question.questionType.type" (change)=" toggleEdit()" name="typ">  
                                                        <option *ngFor="let a of antwortMoeglichkeiten" [ngValue]="a.name" >{{a.name}}</option>
                                                </select>
                                                <br>
                                        </div>

                                        <div class="col">
                                                <h2 style="font-size: 28px;max-width: 380px; word-wrap: break-word; color:rgb(0, 0, 0);">Hinweis zur Frage:</h2>    
                                                <textarea rows="4" cols="50" style=" float: left;max-width: 320px;" type="text" [(ngModel)]="question.hint" name="hinweisID" class="form-control" id="hinweis" aria-describedby="emailHelp" placeholder="Hinweis eingeben"> 
                                                </textarea>
                                                        <br>
                                        </div>


                                        <div class="w-100"></div>

                                       <br>


                                        <div class="col">


                                                        <div style="padding:10px 00px 00px 00px " *ngIf="radioOn || CheckOn || dropdownOn"  >
                                                                        <h2 style="color:rgb(0, 0, 0);"><u>Antwort-Optionen:</u><br/></h2> 
                                                                        <div *ngFor="let daten of fakeChoiceArray; let index = index ">
                                                                
                                                                                <label style="color:rgb(0, 0, 0);">{{index +1}}:</label> 
                                                                                <input style=" float: right;" type="text" [(ngModel)]="choiceArray[index].choice" name="antOpID{{index}}" class="form-control" id="antOp{{index}}" aria-describedby="emailHelp" placeholder="Antwort-Option:{{index}}">
                                                                                
                                                                        </div>
                                                
                                                                        <button class="btn btn-success" (click)="addInput()" >+</button>
                                                                        <button class="btn btn-danger" (click)="deleteInput()" >-</button>
                                                                
                                                                </div>
                                                                
                                                                


                                                
                                        </div>



        
                                        <div class="col">
                                
                                                <h2 style="color:rgb(0, 0, 0);" ><u>Kategorie: </u></h2>
                                                <div style="padding:10px 00px 00px 00px">
                                                                
                                                        <div *ngFor="let date of fakeCategoryArray; let index = index ">
                                                                       
                                                                {{index + 1}}:     
                                                                <input style=" float: right;" type="text" [(ngModel)]="categoryArray[index].category" name="catOpID{{index}}" class="form-control" id="catOp{{index}}" aria-describedby="emailHelp" placeholder="Kategorie:{{index}}">
                                                     
                                                        </div>
                                        
                                                        <button class="btn btn-success" (click)="addInputCat()" >+</button>
                                                        <button class="btn btn-danger" (click)="deleteInputCat()" >-</button>
                                                </div>
                                                


                                        </div>        
                                                
                                </div>
                                
							<br>

                        </div>
           
                
                </form>
        </div>
        <div class="modal-footer">
                        <button class="btn btn-danger" (click)="getAllQuestion(); modal.close()" >Abbrechen</button>
          <button type="button" class="btn btn-success" (click)="editQuestion(); modal.dismiss()">Save</button>
        </div>
</ng-template>
      






<ng-template #content2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Folgefragen auswählen</h4>
          <button type="button" class="close" aria-label="Close" (click)="getAllQuestion(); modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form>
                        <div class="form-group">


                                <label style="color:rgb(0, 0, 0);font-size: 20px;padding:20px 10px 20px 0px;"><b style="font-size: 28px;"><u>Frage:</u></b><br/><br> {{question.question}} </label>
                               
                               
                                <div  *ngIf="CheckOn || TextOn || datumOn || dateiUploadOn">
                                        <br>
                                        <br>
                                        <h2 style="color:rgb(0, 0, 0);" for="exampleInputEmail2"><u>Folgefrage: </u></h2>
                                        <select class="form-control" [(ngModel)]="question.questionType.nextQuestionId" name="typ">  
                                                        <option *ngFor="let a of hashIdQuestion" [ngValue]="a.key" >{{a.value}}</option>
                                        </select>
                                        <br>
                                        <br>
                                </div>



                                <!--______________________________________________________________________________________ max-width: 180px; word-wrap: break-word -->
                                <br>
                                <br>
                                <br>
                                
                <div  *ngIf="radioOn || CheckOn  || dropdownOn" >

                        <h2 for="exampleInputEmail2" style="color:rgb(0, 0, 0);"><u>Folgefragen: </u></h2>    
                        <br>            
                        <div class="row" style=" font-size:22pt;font-weight: bold;padding:0px 10px 0px 0px;" *ngFor="let i of fakeChoiceArray; let index = index; let l = count;">
                               
                                     
                                        <div *ngIf="2*index < l;else other_content" class="col" >
                                                <label style="font-size: 28px;max-width: 200px; word-wrap: break-word">{{choiceArray[2*index].choice}}</label><br>
                                                <select style=" float: left;max-width: 200px;" class="form-control" [(ngModel)]="choiceArray[2*index].nextQuestionId" id="choiceID{{2*index}}" name="place{{2*index}}">  
                                                        <option *ngFor="let a of hashIdQuestion; let in = index"  [ngValue]="a.key" >{{ a.value }}</option>
                                                </select>
                                        </div>
               
                                        <div *ngIf="2*index+1 < l;else other_content" class="col" >
                                                <label style="font-size: 28px;max-width: 200px; word-wrap: break-word">{{choiceArray[2*index+1].choice}}</label><br>
                                                <select style=" float: left; max-width: 200px ;" class="form-control" [(ngModel)]="choiceArray[2*index+1].nextQuestionId" id="choiceID{{2*index+1}}" name="place{{2*index+1}}">  
                                                        <option *ngFor="let a of hashIdQuestion; let in = index"  [ngValue]="a.key" >{{ a.value }}</option>
                                                </select>
                                                
                                        </div>  
                                        <ng-template #other_content></ng-template>
                                        
                                <br>
                
                        </div>
                </div>        
                        <br>
                        <br>
                 
                
                                    
                        </div>
                
                </form>
        </div>
        <div class="modal-footer">
                
                <button class="btn btn-danger" (click)="getAllQuestion(); modal.close()" >Abbrechen</button>
                <button type="button" class="btn btn-success" (click)="editQuestionNextQuestionId();  modal.dismiss()">Save</button>
        </div>
</ng-template>
      











<ng-template #tipContent>
        AntwortTyp: <b>{{question.questionType.type}}</b> 
        <br/> Formular-Art: <b>{{question.formType}}</b> <br/> Hinweis: 
        <b>{{question.hint}} </b>
</ng-template>










<!--Style der Seite-->
<div style="background-color:rgb(255, 255, 255)"> 
       
        <div class="row" style=" font-size:22pt;font-weight: bold;padding:0px 10px 0px 0px;">

               
               
                <div class="col-sm" style="text-align:left">
                        <img width="200" src="/assets/img/kielLogoTransparent.jpg"> 
                </div>
                <div class="col-sm" style="text-align:center">
                        <h3><b>Admin-Dashboard</b></h3>
                </div>
                <div class="col-sm" style="text-align:right">  
                        <button class="btn btn-primary" style="padding: 10px 10px 10px 10px; margin: 10px 20px; font-size: 22px; font-weight: bold;" >Login</button>
                </div>     
        
        </div> 

</div>


<div style="padding:10px 20px 10px 20px; background-color:rgb(226, 226, 226)" >
        <div>  <!-- class="container"-->

                <div class="row" style=" padding:10px 20px 10px 00px;font-size:22pt;font-weight: bold;">
                        <div class="col-sm" >
                                Frage hinzufügen<br/>
                                <button class="btn btn-success" style="padding: 8px 22px; margin: 0px 90px; font-size: 24px; font-weight: bold;" (click)="resetQuestion();open2(contentCreate);" >+</button>
                               <!-- </button> <button id="buttonAdd" (click)="open(content);">+</button> -->
                        </div>
                        <div class="col-sm" >
                                <h2>Formular</h2>
                                <select  class="form-control" (change)="changeCatOn()" [(ngModel)]="chosenFormTypeCat"  name="typ2" >  
                                        <option *ngFor="let a of dataSet" [ngValue]="a" >{{a}}</option>
                                </select>
                        </div>
                        <div class="col-sm" >  
                                <h2>Kategorie</h2>
                                <select (change)="getAllQuestionsOfFormTypeWithinCategory()" class="form-control" [(ngModel)]="chosenCategoryCat"  name="typ2">  
                                        <option *ngFor="let a of dataSetCat" [ngValue]="a" >{{a}}</option>
                                </select>
                        </div>      
                
                </div>

        </div>

        <br>





        <div> <!-- class="container"-->

                <div class="row" style="padding:10px 40px 10px 00px;font-size:22pt;font-weight: bold;">
                        <div  class="col-sm">
                                Frage
                        </div>
                        <div class="col-sm">
                                Choices
                        </div>
                        <div class="col-sm">  
                                Darauffolgende Frage
                        </div>      
                
                </div>

        </div>
        <div style="padding:10px 20px 10px 20px; background-color:rgb(190, 190, 190)">
<br>
        <!--class="container"--><div style="padding:10px 10px 00px 10px;" *ngFor="let c of dataDisplay; let index = index"  (click)="loadQuestion(c)">

                <div class="row" style="font-size:14pt;font-weight: bold;background-color:rgb(255, 255, 255);min-height: 100px;" (mouseenter)="showOnHover[index] = !showOnHover[index]" (mouseleave)="showOnHover[index] = !showOnHover[index]"> <!--border-radius: 18px">-->
                
                        <div class="col-sm vr" id="tabellenId" style="padding:10px 10px 10px 10px;">
                            {{c.question}}<button *ngIf="showOnHover[index]" style=" float: right;" id="myTip" class="btn btn-secondary" typ="button" (click)="loadQuestion(c)" triggers="click" [autoClose]="true" [ngbTooltip]="tipContent" >Info</button><br/>

                            <div style="padding:20px 0px 0px 0px;" *ngIf="showOnHover[index]">
                                <button  class="btn btn-success btn-space" (click)="loadQuestion(c);open2(content);" >Edit</button>
                                <button  class="btn btn-primary btn-space" (click)="loadQuestion(c);open(content2);" >EditNext</button>
                                <button  class="btn btn-danger btn-space" (click)="deleteQuestion(c.id)" >Delete</button>
                                <br/>
                            </div>

                        </div>
                        <div class="col-sm vr nopadding" id="tabellenId">
                                <div *ngIf="c.questionType.type=='Checkbox' || c.questionType.type=='Text-Eingabe' || c.questionType.type=='Datum' || c.questionType.type=='Datei-Upload' ">- {{c.question}}<hr></div>
                                <div *ngIf="c.questionType.type=='Checkbox' || c.questionType.type=='RadioButton' || c.questionType.type=='Dropdown' ">
                                        <ng-container *ngFor="let d of c.questionType.choices;let l = count; let index = index" >- {{d.choice}}<br/><hr *ngIf="index < l-1"></ng-container> <!--<div class="col-xs-12 col-sm-12 hidden-md hidden-lg hrspacing"><hr class="hrcolor"></div> -->
                                </div>
                        </div>
                        <div class="col-sm vr nopadding" id="tabellenId">
                                <div *ngIf="c.questionType.type=='Checkbox' || c.questionType.type=='Text-Eingabe' || c.questionType.type=='Datum' || c.questionType.type=='Datei-Upload' ">- {{getQuestionByIdForFrontend(c.questionType.nextQuestionId)}}<hr></div>
                                <div *ngIf="c.questionType.type=='Checkbox' || c.questionType.type=='RadioButton' || c.questionType.type=='Dropdown' ">
                                        <ng-container  *ngFor="let d of c.questionType.choices;let l = count; let index = index"  >- {{ getQuestionByIdForFrontend(d.nextQuestionId) }}<br/><hr *ngIf="index < l-1"></ng-container>
                                </div>
                        </div>
                
                </div>

                <br>

        </div>


</div>


</div> 

